@using WebForTraining.Models;
@using WebForTraining.Database;
@{
    var usrID = int.Parse(Session["ResetID"].ToString());
    var usrName = Session["ResetUsername"].ToString();
    //var token = Session["Token"].ToString();
    Layout = null;
    //List<string> AuthForms = (List<string>)Session["Forms"];

    //var UserGroup = Administration.getUsersGroup().Where(p => p.userGroupID == usrGroupID);

}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Reset Password</h4>
    </div>
    <form method="post" id="resetPasswordForm" class="form-horizontal form-label-left">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
                    @*User Name*@ <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="userName" name="userName" class="form-control col-md-7 col-xs-12" value="@Session["ResetUsername"].ToString()" readonly>
                    <input type="hidden" id="userID" name="userID" value="@Session["ResetID"].ToString()">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newPassword">
                    @*New Password*@ <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" id="newPassword" name="newPassword"
                           data-validation="required" class="form-control col-md-7 col-xs-12" placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirmNewPassword">
                    @*Conf. Password*@ <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                           data-validation="required" class="form-control col-md-7 col-xs-12" placeholder="Confirm New Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @*<button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>*@
            <button type="button" class="btn btn-primary" onclick="javascript: resetPassword();">Save</button>
        </div>
    </form>
</div>

